<div class="main-hero">
  <h1>Hello Intern Task!</h1>
  <p>This is a custom theme built from scratch.</p>
  <img src="{{ 'your-image.png' | asset_url }}" alt="Custom image" />
</div>

{% schema %}
{
  "name": "Main Section",
  "settings": []
}
{% endschema %}
